.create-habit {
    min-width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.create-habit-button {
    width: 100%;
}

.habit-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.habit-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.post-image {
    width: 300px;
    height: 300px;
}
